{% extends "base.html" %}
{% load static i18n account crispy_forms_tags %}
{% block html_attribute %}class="h-100"{% endblock html_attribute %}
{% block title %}Password Reset{% endblock title %}
{% block body_attribute %}class="h-100"{% endblock body_attribute %}
{% block content %}
  <div class="d-flex flex-column h-100 p-3">
    <div class="d-flex flex-column flex-grow-1">
      <div class="row h-100">
        <div class="col-xxl-7">
          <div class="row justify-content-center h-100">
            <div class="col-lg-6 py-lg-5">
              <div class="d-flex flex-column h-100 justify-content-center">
                <div class="auth-logo mb-4">
                  <a href="/" class="logo-dark mx-auto">
                    <img src="{% static 'images/logo-dark.png' %}" height="24" alt="logo dark">
                  </a>
                  <a href="/" class="logo-light mx-auto">
                    <img src="{% static 'images/logo-light.png' %}" height="24" alt="logo light">
                  </a>
                </div>
                <div class="text-center m-auto">
                  <h2 class="fw-bold fs-24">Please check your email</h2>
                  {% if user.is_authenticated %}
                    <p class="text-muted mt-1 mb-04">
                      {% include "account/snippets/already_logged_in.html" %}
                    </p>
                  {% endif %}
                  <p class="text-muted mt-1 mb-04">
                    A email has been send to <b>{{ user.email }}</b>.
                    Please check for an email from company and click on the included link to
                    reset your password.
                  </p>
                </div>
                <form action="/" novalidate>
                  <div class="mb-0 text-center">
                    <button class="btn btn-soft-primary" type="submit"><i class="mdi mdi-home me-1"></i> Back to
                      Home
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-5 d-none d-xxl-flex">
          <div class="card h-100 mb-0 overflow-hidden">
            <div class="d-flex flex-column h-100">
              <img src="{% static 'images/small/img-10.jpg' %}" alt="" class="w-100 h-100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}